scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/aem-react-spa-app
        create path (nt:unstructured) /content/dam/aem-react-spa-app/jcr:content
        set properties on /content/dam/aem-react-spa-app/jcr:content
        set cq:conf{String} to /conf/aem-react-spa-app
        set jcr:title{String} to \"My AEM React Spa App\"
        end
        "
]
